
name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build App
        run: |
          # Устанавливаем сборщик esbuild на лету
          npm install esbuild
          # Компилируем React/TypeScript код в один файл main.js
          ./node_modules/.bin/esbuild index.tsx --bundle --outfile=main.js --format=esm --jsx=automatic --minify --loader:.tsx=tsx --loader:.ts=ts
          # Модифицируем index.html, чтобы он подключал созданный файл
          sed -i 's/<\/body>/<script type="module" src="main.js"><\/script><\/body>/' index.html

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
